node_modules
.env

# Hardhat files
/cache
/artifacts
/deployments/localhost/*
/deployments/sepolia/*

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.idea

.vscode

# sync-ui output (user copies into UI repo)
/output
deployments/localhost/